.Cardstyl{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.Childdiv{
  border: 1px solid;
  border-radius: 10px;
  height: 450px;
  width: 400px;
  margin: 10px;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  text-align: center;
}
.titlename{
  text-align: center;
}

/* .bg-change{
  border: 2px solid ;
  margin: 30px;
  height: 100px;
  background-color: beige;
} */
