.Cardstyl{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.Childdiv{
  border: 1px solid;
  border-radius: 10px;
  height: 450px;
  width: 400px;
  margin: 10px;
  text-align: center;
}
.titlename{
  text-align: center;
}
.nav-bgc{
  background-color: aqua;
}

.product-data{
  text-align: center;
}
.text-deca{
  text-decoration: none;
  color: black;
}

.nav-icon{
  /* margin: 10px; */
  padding: 10px;
}
