body{
  display: flex;
  flex-wrap: wrap;
}
table{
  border: 1px solid;
  height: 120px;
  border-collapse: collapse;
  margin: 5px;
}
td{
  border: 2px solid;
  height: 130px;
 text-align: center;
}
th{
  border: 2px solid;
  height: 50px;
  text-align: center;
}
img{
  padding: 5px;
}